.ABC{
    background-image: url('img/ABC.jpg'); 
    background-repeat: no-repeat;
}
@media only screen and (max-width: 900px) {
    .ABC{
        background-image: none;
        background-color: white; 
        background-repeat: no-repeat;
    }
    .CCC{
        background-image: url('img/ABC.jpg'); 
        background-repeat: no-repeat;
        width: 500px;
        height: 400px;
    }
}